:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #808080;
  --color-blue: #4b01d4;
  --color-blue-700: #380596;
  --color-blue-900: #23055b;
  --color-light-blue: #19affa;
  --color-pink: #ff80ca;
  --color-red: #ff5c33;
  --color-yellow: #ffc619;

  --background: var(--color-white);
  --foreground: var(--color-black);

  --space: 24px;

  --trans-time: 600ms;
  --trans-ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  --breakpoint: 1024px;
  --button-size: 48px;
}
